<header class="flex h-16 items-center justify-between border-b border-slate-800 px-6">
    <div>
        <h1 class="text-lg font-semibold text-slate-100">VibeFlow </h1>
        <p class="text-xs text-slate-400">
            <span class="font-bold mr-1">Working on:</span>
            <a class="cursor-pointer hover:underline" (click)="openFolder()">{{currentProjectPath()}}</a>
        </p>
    </div>
    <div class="flex items-end">
        @if(message(); as msg){
        <div class="mr-4 self-end rounded px-3 py-1 text-sm" [ngClass]="{
                ' text-green-800': msg.type === 'success',
                ' text-red-800': msg.type === 'error',
                ' text-blue-800': msg.type === 'info'
            }">
            {{msg.content}}
        </div>
        }
        <button type="button"
            class="grid h-9 w-9 place-items-center rounded-full bg-slate-800/75 text-slate-300 shadow-none transition hover:bg-slate-700/80 hover:text-white"
            aria-label="Settings" (click)="saveProject()" title="Save project">
            <mtx-icon icon="floppy"></mtx-icon>
        </button>
    </div>
</header>
