<header class="relative z-30 flex flex-col overflow-visible rounded-xl bg-slate-900/60 p-4 backdrop-blur-xl">

    <ng-content></ng-content>

    <div class="flex items-center justify-between">
        <div>
            <h2 class="flex items-center gap-1 text-lg font-semibold text-slate-100">
                @if (icon()) {
                <mtx-icon [icon]="icon()"></mtx-icon>
                }
                <span>{{ title() }}</span>
            </h2>
            @if (description()) {
            <p class="mt-1 text-xs text-slate-400">{{ description() }}</p>
            }
        </div>
    </div>

    @if (hasCommands()) {
    <div class="mt-4 border-t border-slate-800/80 pt-3">
        <mtx-commandbar [leftCommands]="leftCommands()" [rightCommands]="rightCommands()"
            [leftLabel]="leftLabel()"></mtx-commandbar>
    </div>
    }
</header>