<div class="flex h-full min-h-0 flex-col gap-4 overflow-visible p-2 text-slate-200">
    <mtx-workspace-header [leftCommands]="headerLeftCommands()" [rightCommands]="headerRightCommands()"
        leftLabel="Edit task steps and markdown step content.">

        <div headerContent class="flex items-start gap-2">
            <div class="space-y-2 w-full">
                <mtx-input-editable [value]="editableTask().title" placeholder="Task title"
                    textClass="text-lg font-semibold text-slate-100"
                    editorClass="w-full rounded bg-slate-900/70 px-3 py-2 text-sm text-slate-100 outline-none placeholder:text-slate-500 border border-amber-600"
                    editIconButtonClass="rounded px-2 py-1 text-sky-300 transition hover:bg-slate-700"
                    (submitValue)="submitTaskTitle($event)">
                </mtx-input-editable>

                <div class="mt-1">
                    <mtx-input-editable [value]="editableTask().description" [multiline]="true"
                        placeholder="Task description" textClass="text-xs text-slate-400"
                        editorClass="min-h-20 w-full resize-y rounded bg-slate-900/70 px-3 py-2 text-sm leading-6 text-slate-200 outline-none placeholder:text-slate-500 border border-amber-600"
                        editIconButtonClass="rounded-full px-2 py-1 text-sky-300 transition hover:bg-slate-700"
                        (submitValue)="submitTaskDescription($event)">
                    </mtx-input-editable>
                </div>
            </div>
        </div>
    </mtx-workspace-header>

    <section class="relative z-0 flex-1 min-h-0 overflow-y-auto rounded-xl bg-slate-900/60 backdrop-blur-xl">
        @if (editableTask()) {
        <div class="flex flex-col gap-3">
            <mtx-step-list title="Pre Steps" subtitle="Steps will be executed before each main step."
                titleIcon="arrow-90deg-down" [stepType]="'pre'" [task]="editableTask()"
                [allowReorder]="enableReorder()"></mtx-step-list>

            <mtx-step-list title="Main Steps" subtitle="Main steps do your job" [task]="editableTask()"
                [allowReorder]="enableReorder()"></mtx-step-list>

            <mtx-step-list title="Post Steps" subtitle="Steps will be executed after each main step."
                titleIcon="arrow-return-right" [stepType]="'post'" [task]="editableTask()"
                [allowReorder]="enableReorder()"></mtx-step-list>
        </div>
        } @else {
        <p class="rounded bg-slate-800/60 px-3 py-2 text-sm text-slate-400">
            Task was not found.
        </p>
        }
    </section>
</div>