<div class="title-bar">
    @if(isMac) {
    <div class="mac-controls">
        <div class="traffic-light close" (click)="close()"></div>
        <div class="traffic-light minimize" (click)="minimize()"></div>
        <div class="traffic-light maximize" (click)="toggleMaximize()"></div>
    </div>}

    <div class="title" [class.mac-title]="isMac" data-tauri-drag-region>
        <img src="images/VibeFlow.png" class="window-icon" alt="" />
        <span class="app-name">{{ appName() }}</span>
    </div>

    @if(appCommands().length > 0) {
    <div class="windows-controls">
        @for (command of appCommands(); track command.id) {
        <button class="control-btn" title="{{command.description}}" (click)="invokeCommand(command)" tabindex="-1">
            <mtx-icon [icon]="command.icon!"></mtx-icon>
        </button>
        }
    </div>
    }

    @if(!isMac) {
    <div class="windows-controls">
        <button class="control-btn minimize-btn" (click)="minimize()" tabindex="-1" title="Minimize">
            <i class="bi bi-dash-lg"></i>
        </button>
        <button class="control-btn maximize-btn" (click)="toggleMaximize()" tabindex="-1"
            [title]="isMaximized() ? 'Restore' : 'Maximize'">
            <i class="bi" [class.bi-square]="!isMaximized()" [class.bi-copy]="isMaximized()"></i>
        </button>
        <button class="control-btn close-btn" (click)="close()" tabindex="-1" title="Close">
            <i class="bi bi-x-lg"></i>
        </button>
    </div>
    }
</div>