name: Release

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  build:
    fail-fast: false
    runs-on: ubuntu-22.04
    steps:
      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          cache: npm
          node-version: '16'

      - name: Install dependencies
        run: npm ci

      - name: Windows MSVC Step
        runs-on: windows-latest
        steps:
          - name: Run MSVC
            uses: ilammy/msvc-dev-cmd@v1
            with:
              projectPath: .  
